/**************************************************************** Txt ******************/
.txt-10 {
    font-size: 16px;
}
.txt-11 {
    opacity: 0.6;
}
.txt-dark {
    color: #0F2231 !important;
}
.tm {
    font-size: 20px;
}
.light {
    font-weight: 200;
}
.medium {
    font-weight: 400;
}
.bold {
    font-weight: 700;
}
/**************************************************************** Button ******************/
.btn-4 {
    margin-left: .5rem;
    background-color: #0F2231;
    color: #eee;
    margin-bottom: 2px;
}
.btn-4:hover {
    background-color: #ececec;
    color: #0F2231;
}

.btn-5 {
    background-color: #0F2231;
    border: none;
    color: whitesmoke;
    border-radius: 5px;
    width: 120px;
    margin-left: 10px;
}
.btn-5:hover {
    background-color: #ececec;
    color: #0F2231;
}
.btn-6 {
    border: none;
    background-color: #0F2231;
    color: white;
    border-radius: 3px;
    padding: 5px 15px;
}
.btn-6:hover {
    background-color: #eaeaea;
    color: #0F2231;
}
.btn-7 {
    background-color: #0F2231;
    color: white;
}
.btn-7:hover {
    background-color: #ececec;
    color: #0F2231;
}

/**************************************************************** BackgroundColor ******************/
.bg-pending {
    background-color: #F2CB05;
}
.bg-process {
    background-color: #0F2231;
}
.bg-waiting {
    background-color: #FF9200;
}
.bg-cancel {
    background-color: #E81818;
}
.bg-done {
    background-color: #39BC48;
}

.text-pending {
    color: #F2CB05;
}
.text-process {
    color: #0F2231;
}
.text-waiting {
    color: #FF9200;
}
.text-cancel {
    color: #E81818;
}
.text-done {
    color: #39BC48;
}

.bg-base {
    background-color: #0F2231 !important;
}
.bg-grey {
    background-color: #ececec;
}



/**************************************************************** Box ******************/
.box-3 {
    margin: auto;
    text-align: center;
}
.box-5 {
    display: flex;
}

/**************************************************************** Map ******************/
.map-1 { 
    /* Map container */
    height: 100%;
    min-height: 400px;
    /* margin-bottom: 30px; */
}
#map-1 {
    position: absolute;
    width: 100%;
    height: 100%;
}
#map-2 {
    position: absolute;
    width: 100%;
    height: 70vh;
}
.marker-box {
    position: relative;
    width: fit-content;
    height: auto;
}
.marker {
    background-color: #0F2231;
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 50% 50% 50% 0%;
    transform: rotate(-45deg);
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mark-avatar {
    width: 35px;
    height: 35px;
    transform: rotate(45deg);
    border-radius: 20px;
    object-fit: cover;
}
.mark-after {
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: -90;
    top: 20px;
    left: -12.5px;
}

/**************************************************************** Map End ******************/

.distance-card:hover {
    background-color: #fff;
}
.nav-link-text {
    color: white;
}
.nav-link {
    color: white !important;
}
.nav-active {
    width: 2px;
    height: 30px;
    background-color: #EFC804;
}
.dash-logo {
    height: auto;
    width: 170px;
    margin: 50px 20px 25px 10px;
}
.sidenav-toggler-line {
    background-color: #bbbbbb !important;
}
.navbar-top {
    padding: 5px !important;
    background-color: white !important;
}
.page-content {
    border-radius: 5px;
    background-color: white;
}
#search-btn {
    border: none;
    color: white;
    background-color: #0F2231;
    height: 46px;
    border-radius: 25px;
    margin-left: 20px;
    padding: 10px 37px;;
}
#search-btn:hover {
    color: #0F2231;
    background-color: #eaeaea;
}
.line-2 {
    height: 1px;
    background-color: #c0c0c0;
    width: 100%;
}
.search-result {
    min-height: 500px;
}
.date-1 {
    margin: 5px;
}

.next-job {
    width: 100%;
    min-height: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}
.fullcalendar-title {
    font-size: 14px;
}
/* #map {
    width: 100%;
    height: 100%;
} */
.work-time {
    font-size: 12px;
    margin-right: 50px;
}

.next-job-card {
    background-color: #eee;
}

.opt-1 {
    width: fit-content;
    height: 35px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid;
}
.opt-1:focus {
    background-color: #0F2231;
    color: white;
}

.form-1 {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    height: 30px;
}
.label-1 {
    font-weight: 200 !important;
}

.map-1 {
    width: 100%;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}
.flex {
    display: flex !important;
}
.dz-default {
    background-color: #0F2231;
    color: white;
}
.edit-job {
    background-color: #0F2231;
    border: none;
    color: white;
    border-radius: 5px;
}
.edit-job:hover {
    background-color: #eee;
    color: #0F2231;
}
.shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.job-status-bar-pending {
    width: 5px;
    height: 100%;
    background-color: #F2CB05;
    ;
}
.job-status-bar-waiting {
    width: 5px;
    height: 100%;
    background-color: #FD9225;
}
.radio-box-1 {
    /* max-width: 150px; */
    padding: 10px;
    border-radius: 5px;
    color: white;
}


.profile-user-img {
    width: 125px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    display: block;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin-bottom: 20px;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 70px;
    z-index: 1;
    top: 90px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #d2d6de;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f030";
    font-family: 'FontAwesome';
    color: #337ab7;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 34px;
    margin: auto;
}

.card-header .h3 {
    font-size: 21px;
}

.f-calendar {
    max-height: 500px;
}


.main .form .custom-select-wrapper {
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .main .form .custom-select-wrapper select {
    display: none;
  }
  .main .form .custom-select {
    position: relative;
    margin: 0 0.5rem 0 0;
  }
  .main .form .custom-select-trigger {
    position: relative;
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 0.65rem 2.5rem 0.65rem 1rem;
    margin-bottom: 1rem;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: #252a32;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  }
  .main .form .custom-select-trigger:after {
    position: absolute;
    display: block;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    top: 50%;
    right: 1rem;
    margin-top: -3px;
    border-bottom: 1px solid #252a32;
    border-right: 1px solid #252a32;
    transform: rotate(45deg) translateY(-50%);
    transition: all 0.3s ease-in-out;
    transform-origin: 50% 0;
  }
  .main .form .custom-select.opened .custom-select-trigger::after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
  }
  .main .form .custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0.65rem 0 1rem 0;
    background: #ffffff;
    color: #252a32;
    opacity: 0;
    z-index: 999;
    visibility: hidden;
    pointer-events: none;
    border: none;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    transform: translateY(-1rem);
  }
  .main .form .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
  .main .form .custom-options::before {
    position: absolute;
    display: block;
    content: "";
    bottom: 100%;
    right: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    margin-bottom: -4px;
    background: #ffffff;
    transform: rotate(45deg);
  }
  .main .form .option-hover::before {
    background: #5b687b;
  }
  .main .form .custom-option {
    position: relative;
    display: block;
    padding: 0.65rem 1rem;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: #252a32;
    cursor: pointer;
  }
  .main .form .custom-option:hover {
    background: #5b687b;
    color: #ffffff;
  }