/**************************************************************** Txt ******************/
.txt-10 {
    font-size: 16px;
}

.bg-base {
    background-color: #0F2231 !important;
}
.txt-dark {
    color: #0F2231 !important;
}
.tm {
    font-size: 20px;
}
.bold {
    font-weight: 700;
}

.nav-link-text {
    color: white;
}
.nav-link {
    color: white !important;
}
.nav-active {
    width: 2px;
    height: 30px;
    background-color: #EFC804;
}
.dash-logo {
    height: auto;
    width: 170px;
    margin: 50px 20px 25px 10px;
}
.sidenav-toggler-line {
    background-color: #bbbbbb !important;
}
.navbar-top {
    padding: 5px !important;
    background-color: white !important;
}
.page-content {
    border-radius: 5px;
    background-color: white;
}
#search-btn {
    border: none;
    color: white;
    background-color: #0F2231;
    height: 46px;
    border-radius: 25px;
    margin-left: 20px;
    padding: 10px 37px;;
}
#search-btn:hover {
    color: #0F2231;
    background-color: #eaeaea;
}
.line-2 {
    height: 1px;
    background-color: #c0c0c0;
    width: 100%;
}
.search-result {
    min-height: 500px;
}
.date-1 {
    margin: 5px;
}
.map-1 {
    height: 100%;
    /* margin-bottom: 30px; */
}
.next-job {
    width: 100%;
    min-height: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}
.fullcalendar-title {
    font-size: 14px;
}
#map {
    width: 100%;
    height: 100%;
}
.work-time {
    font-size: 12px;
    margin-right: 50px;
}

.next-job-card {
    background-color: #eee;
}
.btn-4 {
    margin-left: .5rem;
    background-color: #0F2231;
    color: #eee;
}
.btn-4:hover {
    background-color: #ececec;
    color: #0F2231;
}

.opt-1 {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
}
.opt-1:focus {
    background-color: #0F2231;
    color: white;
}
.box-3 {
    margin: auto;
    text-align: center;
}

.form-1 {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    height: 30px;
}
.label-1 {
    font-weight: 200 !important;
}
.box-5 {
    display: flex;
}

.map-1 {
    width: 100%;
    height: 400px;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}
.flex {
    display: flex !important;
}
.dz-default {
    background-color: #0F2231;
    color: white;
}
.edit-job {
    background-color: #0F2231;
    border: none;
    color: white;
    border-radius: 5px;
}
.edit-job:hover {
    background-color: #eee;
    color: #0F2231;
}
.shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}